/* mainpage */
.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgb(219, 73, 73) 50%,
    rgba(252, 176, 69, 1) 100%
  );
} /*
.gender {
  display: flex;
  flex-direction: row;
}
.form {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.form {
  width: 400px;
  height: 400px;
  background-color: rgba(53, 53, 53, 0.708);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.input {
  display: flex;
  justify-content: space-between;
}

input[type="text"],
input[type="email"] {
  background-color: white;
  font-size: 15px;
  border: 1px solid black;
  height: 30px;
  border-radius: 10px;
  outline: none;
}
.lang {
  border: 1px solid black;
  height: 30px;
  border-radius: 10px;
}
.submit {
  position: relative;
  top: 30px;
}

/* question */

.midpage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgb(219, 73, 73) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  position: relative;
  top: 30px;
  /* background-color: rgb(71, 134, 188); */
}
.card {
  width: 400px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.877);
}
ul {
  list-style: none;
}

button {
  background-color: rgb(21, 95, 255);
  width: 70px;
  height: 40px;
  border: 1px solid blue;
  border-radius: 10%;
}
.question {
  text-align: center;
}
